@model yOurVocabulary.Models.DisplayStoryModel

@{
    ViewBag.Title = "Details";
}

<h2>Read</h2>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
<div>
    <h1 style="text-align:center">@Model.Title</h1>

    <blockquote class="blockquote-reverse">
        @Model.Author<br />
        @Model.Year<br />
        @Model.Language<br />
    </blockquote>
    <hr />
    <div style="font-family:'Lora', serif; max-width:80%; text-align:center; font-size:large; margin:auto">
    @{var i = 0; }
    @foreach(var item in Model.Words){
    <span data-toggle="popover" data-trigger="hover" data-placement="top" title="@item" data-content="workngggggggggggggg"id="word-@i">@item</span>
        i++;
    }

    <br /><br />
    </div>
</div>
<hr />
@*<button type="button" class="btn btn-danger" data-container="body" data-toggle="popover" data-placement="top" title=" hola!! " data-content="worknggg   ">
    top popover
</button>*@

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
@section scripts{
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover()
        });
    </script>
}