@model IEnumerable<yOurVocabulary.Models.Story>

@{
    ViewBag.Title = "Index";
}

<style>
     body {
         background: no-repeat;
         background-image: linear-gradient(#E2FFF2, #E1F7FF);
     }
     .create{
         margin-left:86%;
     }
     h2{
         margin-top:5%;
         margin-left:4%;
     }
    .stories {
        display: inline-block;
        margin-left: 4%;
        margin-top:4%;
        padding:10px;
        border:solid thin;
        border-radius:10px;
        border-color:cadetblue;
    }
    .card {
        width: 20rem;
    }
    .card-img-top {
        width: 20rem;
        height:15rem;
    }
    .card-title{
        text-align:center;
        font-size:large;
    }
</style>

<h2>Stories</h2>
@if (User.IsInRole("Admin") || User.IsInRole("Creator"))
{
<p class="create">
    <a href='@Url.Action("Create", "Stories")' class="btn btn-success">Create New</a>
</p>
}

@foreach (var item in Model)
{<div class="stories">
    <div class="card">
        <img src="@item.ImageURL" class="card-img-top" alt="Story Cover Image">
        <div class="card-body">
            <h5 class="card-title">@item.Title</h5>
            <p class="card-text">
                @item.Rating
            </p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">@item.Language.Name</li>
            <li class="list-group-item">@item.Author</li>
        </ul>
        <div class="card-body">
            <a href='@Url.Action("Details", new {id=@item.StoryId})' class="btn btn-primary">Read</a>
            @if (User.IsInRole("Admin") || User.IsInRole("Creator"))
            {
                <a href='@Url.Action("Edit", new {id=@item.StoryId})' class="btn btn-success">Edit</a>
                <a href='@Url.Action("Delete", new {id=@item.StoryId})' class="btn btn-danger">Delete</a>
            }
        </div>
    </div>
</div>
}