@model IEnumerable<yOurVocabulary.Models.Story>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@*
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearWritten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Language)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TheStory)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YearWritten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Language)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            <img src="@item.ImageURL" style="max-width:300px"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TheStory) dont display later
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table> *@
@foreach (var item in Model)
{<div style="display:inline-block; margin-left:5px; margin-left:5px; margin-bottom:10px">
    <div class="card" style="width: 19rem;">
        <img src="@item.ImageURL" class="card-img-top" alt="..." style="max-width:19rem">
        <div class="card-body">
            <h5 class="card-title">@item.Title</h5>
            <p class="card-text">
                @item.Rating
            </p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">@item.Language</li>
            <li class="list-group-item">@item.YearWritten</li>
        </ul>
        <div class="card-body">
            <a href='@Url.Action("Details", new {id=@item.StoryId})' class="btn btn-primary">Read</a>
            <a href='@Url.Action("Edit", new {id=@item.StoryId})' class="btn btn-success">Edit</a>
            <a href='@Url.Action("Delete", new {id=@item.StoryId})' class="btn btn-danger">Delete</a>
        </div>
    </div>
</div>
}