@model yOurVocabulary.Models.Profile

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Profile</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProfileName)
        </dt>
        Currently Reading:
        yOur Words:
        <dd>
            @Html.DisplayFor(model => model.ProfileName)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Become a Creator", "BecomeCreator", new { id = Model.Id }) |
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
