@model yOurVocabulary.Models.Profile

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>@User.Identity.Name</p>
@Html.ActionLink("Edit", "Edit", new { id = Model.ProfileId }) |
@Html.ActionLink("Details", "Details", new { id = Model.ProfileId }) |
@Html.ActionLink("Delete", "Delete", new { id = Model.ProfileId })
@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
