@model yOurVocabulary.Models.Admin.UserListModel
@{
    ViewBag.Title = "UserList";
}

<h2>UserList</h2>
<ol>
    @foreach (var item in Model.UserList)
    {

    <li>
        @item.Email - @Model.RoleList.Where(r => r.Id == @item.Roles.First().RoleId).Select(r => r.Name).First()
        <a href='@Url.Action("ChangeRole", new { id=@item.Id })' class="btn btn-primary">Change Role</a>
        @{
            var candidate = Model.CreatorCandidates.Find(c => c.UserId==item.Id);
            if (candidate != null)
            {
                <div>
                            <div class="alert alert-info" role="alert">
                                This user has applied for Creatorship!
                                <a class="alert-link" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                    Check the application message
                                </a>
                                <button data-id="@candidate.Id" class="btn btn-primary delete-ajax">Reject</button>
                            </div>
                    <div class="collapse" id="collapseExample">
                        <div class="well">
                            <i>@candidate.Message</i>
                        </div>
                    </div>
                </div>
            }
        }
    </li>

    }
</ol>



@section scripts {
    <script>
        function revealMessage(id) {
            $('div.message-' + id).show();
        }

        $('.delete-ajax').on('click', function () {
            var button = this;
            console.log(1);
            bootbox.confirm("Do you want reject this request?", function (result) {
                console.log(2);
                if (result) {
                    $.ajax({
                        url: "/Admin/DeleteApplication/" + button.getAttribute("data-id"),
                        method: "GET",
                        success: function () {
                            button.parentNode.parentNode.remove();
                            console.log(3);
                        }
                    });
                }
            });
        });

    </script>
}
