<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
<style>
    body{
        padding-bottom:0px;
    }
    .my-class a{
        font-size:large;
        font-weight:bold;
        color:white;
        margin-top:6%;
    }
    .my-class a:hover{
        color: whitesmoke;
    }
    .my-class a:active{
         color: white;
    }
    #navigation {
        background-color: #14151D;
    }
    #logo{
        max-width:130px;
    }
    footer {
        color:white;
        background-color: #14151D;
        padding:5%;
    }
    .footer-links a{
        color:white;
        font-size:medium;
    }
</style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" id="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            <a href="@Url.Action("Index", "Home")" title="Home" class="links">
                <img alt="Home" src="@Url.Content("~/yourlogo.png")" id="logo">
            </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Request.IsAuthenticated)
                    {
                        <li class="my-class">@Html.ActionLink("Stories", "Index", "Stories")</li>
                        <li class="my-class">@Html.ActionLink("Words", "Index", "Words")</li>
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="my-class">@Html.ActionLink("Admin", "Index", "Admin")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()</div>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                    <p>&copy; yOur vocabulary - @DateTime.Now.Year</p>
                    </div>
                    <div class="col-md-5 footer-links">
                        @Html.ActionLink("About us", "Index", "About")<br />
                        @Html.ActionLink("Terms and conditions", "Index", "About")<br />
                        @Html.ActionLink("Privacy policy", "Index", "About")
                    </div>
                </div>
            </div>
        </footer>
    @*</div>*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
